.navbar {
    display: flex;
    align-items: center;
    height: 60px;
    .logo {
        width: 100px;
    }

    .left {
        display: flex;
        align-items: center;
    }

    .links {
        display: flex;
        .link {
            padding: 0 7px;
        }
        a {
            color: #fff;
            font-size: 13px;
            font-weight: 500;

        }
    }
}